In [1]:
import pandas as pd
import numpy as np
import pickle

In [6]:
dataset_path = "./../data/cleaned_government_data.csv"
query_extra_details_base_path = "./../data/prediction_page_queries/"

df = pd.read_csv(dataset_path, header=0)
df.head()

,Major Class,Month of Travel Date,From,To,Sum of Net Tickets,Sum of Total $
0,Business Class,Jan,Calgary,Ottawa,2,6045.62
1,Business Class,Jan,Calgary,Victoria,1,740.60
2,Business Class,Jan,Campbell River,Ottawa,1,3482.85
3,Business Class,Jan,Charlottetown,Calgary,1,2807.24
4,Business Class,Jan,Charlottetown,Ottawa,1,737.35

In [3]:
all_months = np.unique(df["Month of Travel Date"]).tolist()

In [4]:
unique_sources = np.unique(df['From']).tolist()
unique_destinations = np.unique(df['To']).tolist()
print(f"There are {len(unique_sources)} sources")
print(f"There are {len(unique_destinations)} destinations")

all_cities = set(unique_sources + unique_destinations)
len(all_cities)

There are 254 sources
There are 254 destinations

267

In [5]:
# Frequent destination cities
destination_cities_df = pd.DataFrame(columns = ['dest_city', 'count'])
for dest in unique_destinations:
    count = int(df[df['To']==dest].shape[0])
    row = destination_cities_df.shape[0]
    destination_cities_df.loc[row] = [dest, count]
    
frequent_dest_cities = destination_cities_df.sort_values(by=['count'], ascending=False).head(15)
frequent_dest_cities = frequent_dest_cities.reset_index()
frequent_dest_cities
destination_cities = frequent_dest_cities['dest_city'].tolist()

# Frequent source cities
source_cities_df = pd.DataFrame(columns = ['source_city', 'count'])
for source in unique_sources:
    count = int(df[df['From']==source].shape[0])
    row = source_cities_df.shape[0]
    source_cities_df.loc[row] = [source, count]
    
frequent_source_cities = source_cities_df.sort_values(by=['count'], ascending=False).head(15)
frequent_source_cities = frequent_source_cities.reset_index()
frequent_source_cities
source_cities = frequent_source_cities['source_city'].tolist()

important_cities = source_cities + destination_cities
unique_imp_cities = set(important_cities)
unique_imp_cities

{'Calgary',
 'Edmonton',
 'Fredericton',
 'Halifax',
 'Montreal',
 'Ottawa',
 'Quebec',
 'Regina',
 'Saskatoon',
 "St John's",
 'Thunder Bay',
 'Toronto',
 'Vancouver',
 'Victoria',
 'Winnipeg',
 'Yellowknife'}

In [7]:
data = {}
for imp_city in unique_imp_cities:
    data[imp_city] = {}
    for month in all_months:
        query_result = df[(df['To']==imp_city) & (df['Month of Travel Date']==month)]
        total_passengers = round(np.sum(query_result['Sum of Net Tickets']))
        data[imp_city][month] = total_passengers
        
with open(query_extra_details_base_path + "passengers_count_trend.sav", 'wb') as f:
    pickle.dump(data, f)

In [8]:
with open(query_extra_details_base_path + "passengers_count_trend.sav", 'rb') as f:
    a = pickle.load(f)
a

{'Edmonton': {'Apr': 1181,
  'Aug': 926,
  'Dec': 736,
  'Feb': 1324,
  'Jan': 1138,
  'Jul': 1122,
  'Jun': 1544,
  'Mar': 1542,
  'May': 1853,
  'Nov': 1523,
  'Oct': 1343,
  'Sep': 1414},
 "St John's": {'Apr': 394,
  'Aug': 528,
  'Dec': 435,
  'Feb': 549,
  'Jan': 484,
  'Jul': 550,
  'Jun': 642,
  'Mar': 665,
  'May': 705,
  'Nov': 937,
  'Oct': 928,
  'Sep': 789},
 'Montreal': {'Apr': 934,
  'Aug': 778,
  'Dec': 542,
  'Feb': 1221,
  'Jan': 1361,
  'Jul': 1066,
  'Jun': 935,
  'Mar': 1231,
  'May': 961,
  'Nov': 1399,
  'Oct': 1242,
  'Sep': 1256},
 'Calgary': {'Apr': 711,
  'Aug': 668,
  'Dec': 583,
  'Feb': 1128,
  'Jan': 870,
  'Jul': 845,
  'Jun': 982,
  'Mar': 1347,
  'May': 1031,
  'Nov': 1255,
  'Oct': 1228,
  'Sep': 1033},
 'Saskatoon': {'Apr': 215,
  'Aug': 202,
  'Dec': 180,
  'Feb': 308,
  'Jan': 228,
  'Jul': 193,
  'Jun': 357,
  'Mar': 343,
  'May': 301,
  'Nov': 351,
  'Oct': 345,
  'Sep': 353},
 'Regina': {'Apr': 457,
  'Aug': 386,
  'Dec': 319,
  'Feb': 557,
  'Jan': 444,
  'Jul': 457,
  'Jun': 472,
  'Mar': 485,
  'May': 527,
  'Nov': 532,
  'Oct': 600,
  'Sep': 569},
 'Ottawa': {'Apr': 3207,
  'Aug': 1870,
  'Dec': 2593,
  'Feb': 4785,
  'Jan': 3996,
  'Jul': 2164,
  'Jun': 4569,
  'Mar': 4650,
  'May': 4705,
  'Nov': 5363,
  'Oct': 5010,
  'Sep': 4269},
 'Yellowknife': {'Apr': 231,
  'Aug': 380,
  'Dec': 165,
  'Feb': 300,
  'Jan': 420,
  'Jul': 360,
  'Jun': 482,
  'Mar': 366,
  'May': 438,
  'Nov': 442,
  'Oct': 397,
  'Sep': 395},
 'Fredericton': {'Apr': 362,
  'Aug': 260,
  'Dec': 177,
  'Feb': 467,
  'Jan': 490,
  'Jul': 415,
  'Jun': 596,
  'Mar': 494,
  'May': 744,
  'Nov': 401,
  'Oct': 510,
  'Sep': 546},
 'Victoria': {'Apr': 722,
  'Aug': 548,
  'Dec': 547,
  'Feb': 1116,
  'Jan': 928,
  'Jul': 697,
  'Jun': 941,
  'Mar': 1481,
  'May': 1136,
  'Nov': 1110,
  'Oct': 1154,
  'Sep': 702},
 'Toronto': {'Apr': 2838,
  'Aug': 1918,
  'Dec': 1871,
  'Feb': 3434,
  'Jan': 2728,
  'Jul': 2042,
  'Jun': 3560,
  'Mar': 3184,
  'May': 3638,
  'Nov': 3969,
  'Oct': 3631,
  'Sep': 3385},
 'Winnipeg': {'Apr': 1221,
  'Aug': 1095,
  'Dec': 815,
  'Feb': 1556,
  'Jan': 1471,
  'Jul': 1173,
  'Jun': 1720,
  'Mar': 1579,
  'May': 1942,
  'Nov': 1948,
  'Oct': 1866,
  'Sep': 1778},
 'Halifax': {'Apr': 1537,
  'Aug': 1110,
  'Dec': 1272,
  'Feb': 1814,
  'Jan': 1667,
  'Jul': 1326,
  'Jun': 2191,
  'Mar': 2145,
  'May': 2228,
  'Nov': 2066,
  'Oct': 2156,
  'Sep': 1871},
 'Quebec': {'Apr': 240,
  'Aug': 179,
  'Dec': 345,
  'Feb': 543,
  'Jan': 548,
  'Jul': 388,
  'Jun': 443,
  'Mar': 499,
  'May': 383,
  'Nov': 498,
  'Oct': 418,
  'Sep': 439},
 'Vancouver': {'Apr': 1473,
  'Aug': 1192,
  'Dec': 1156,
  'Feb': 2116,
  'Jan': 1865,
  'Jul': 1427,
  'Jun': 1745,
  'Mar': 2292,
  'May': 1838,
  'Nov': 2284,
  'Oct': 2148,
  'Sep': 1654},
 'Thunder Bay': {'Apr': 206,
  'Aug': 206,
  'Dec': 149,
  'Feb': 208,
  'Jan': 185,
  'Jul': 210,
  'Jun': 213,
  'Mar': 227,
  'May': 197,
  'Nov': 306,
  'Oct': 274,
  'Sep': 249}}